content { padding: 60px; background: url("../images/auditorio.jpg"); background-repeat: all; min-height: calc(100vh - 40px); display: block; box-sizing: border-box; }
.grade { line-height: 30px; margin: 10px 0; border: 1px solid black; box-sizing: border-box; padding: 0 5px; }
.grade.feedbacked { background-color: lightblue; }
.group { height: 50px; overflow: hidden; }
.group.expanded { height: initial; }
.group.expanded .groupName { background-color: lightblue; }
.groupName { background-color: white; border-bottom: 1px solid black; margin: 0; padding: 0 5px; height: 50px; line-height: 50px; }
#groups { margin-top: 60px; background-color: white; border: 1px solid black }
.leftBar { position: fixed; left: 0; top: 0; width: 400px; height: 100%;  }
.leftBar a { display: block; }
.leftBar a * { margin: 0 auto; display: flex; }
.leftBar button { margin-top: 20px; cursor: pointer; text-decoration: none; }
.leftBar h1, .leftBar h2 { padding-left: 5px; }
.logout { position: absolute; left: 0; width: 100%; bottom: 20px; }
.logout img { width: 80px; }
.modal { display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); }
.modal.visible { display: block; }
.modalContent { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; }
.modalContent textarea { border: 1px solid black; }
#profilePic {
    display: block; /* margin: 20px auto; height: 150px; width: 150px;*/
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    display: block;
}
.student { padding: 0 5px; flex-flow: row; flex-wrap: wrap; justify-content: space-between; display: flex; height: 50px; line-height: 50px; }
.student .fa-paper-plane:before { line-height: 50px; }
.theTecno { position: absolute; top: 125px; right: 100px; width: 50px; }
.title { margin: 0 120px; background-color: blue; color: white; text-align: center; height: 120px; line-height: 120px; }


/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    display: block;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}